*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  overflow-x:hidden ;
   background-image: url("https://cdn.pixabay.com/photo/2018/04/26/18/35/sunset-3352685_960_720.jpg"); 

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

